body {
  margin-left: 8%;
  margin-right: 8%;
  background-color: #fff;
  background-image: url(/images/header-shapes\ mobile.png);
  background-size: 100%;
  font-family: "Poppins", sans-serif;
  border-bottom-left-radius: ;
}

a {
  text-decoration: none;
}

.nav-bar a {
  color: #6070ff;
}

.footericons a {
  color: #505f79;
}

.nav-bar {
  color: #6070ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0;
  align-items: center;
}

.bar {
  width:20px;
  height:2px;
  margin-right: 6%;
  background-color: #6070ff;
  margin-top: 20%;
}

.logo:first-child {
  margin-right: auto;
}

.intro {
  margin-top: 20%;
  color: #172b4d;
  font-size: 40px;
}

.intropara {
  color: #344563;
  font-size: 16px;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
}

.footericons {
  list-style: none;
  display: flex;
  margin-right: auto;
  gap: 3%;
  padding-left: 0;
  margin-top: 10%;
}

#projects {
  box-shadow: 0 0 0 0;
}

.imgcontainer {
  margin-top: 40%;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.projectrelease {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 2%;
}

.projectimg {
  width: 98%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.skills {
  list-style: none;
  color: #6070ff;
  display: flex;
  gap: 2%;
  padding-left: 0;
  border-radius: 10%;
}

.skills-items {
  background-color: #ebebff;
  border-radius: 10px;
  padding: 2%;
}

#button1 {
  padding: 5%;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 10px;
}

#button2 {
  padding: 5%;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 10px;
}

#button3 {
  padding: 5%;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 10px;
}
